{% extends 'base_generic.html' %}

{% block content %}

<div class="row">
    <div class="container">
        <h2>Profile Page</h2>
        <h4> <strong>Name:</strong> {{user_profile.user}}</h4>
        <h4> <strong>Email:</strong> {{user_profile.user.email}}</h4>
        <h4> <strong>Phone:</strong> {{user_profile.phone}}</h4>
        <h4> <strong>Address:</strong> {{user_profile.address}}</h4>
        <a class="link" href="{% url 'accounts:profile_edit' %}">Edit Profile</a>
    </div>
</div>
{% endblock content %}